{% extends "base.html" %}

{% block title %}
	<title>Post</title>
{% endblock %}

{% block sources %}
	<link href="/static/css/post.css" rel="stylesheet">
	<link href="/static/css/general.css" rel="stylesheet">
	<script src="/static/js/custom.js"></script>
{% endblock %}

{% block content %} 
	<div class="container-fluid" style="padding-bottom: 50px;">
		<div class="row">
			<div class="hidden-xs col-sm-3 col-md-3"></div>
			<div class="col-xs-12 col-sm-6 col-md-6 smooth" style="padding-left: 60px; padding-right: 60px;">
				<div>
					<div style="padding-bottom: 20px;">
						<h4 class="panel-header-custom">
							{{ post.title }}
						</h4>
					</div>
					<div>
						<img class="img-icon-bubble img-center" src="/media/{{ post.author.tuserprofile.avatar }}">
					</div>
				</div>

				<div class="capital_paragraph post">
					<p>
						{{ post.text }}
					</p>
				</div>
				<!-- Icons' section -->
				<div class="container-fluid panel-lsc">
					<!-- Likes - Comments section -->
					<div class="row" style="padding-bottom: 10px; padding-top: 10px;">
						<div class="pull-left">
							<span class="panel-lc" id="likes-nbr-{{ post.id }}">
								<a href="#" data-toggle="modal" data-target="#likes-modal" style="text-decoration: none; outline:none;">
									Likes {{ post.tlike_set.all.count }}
								</a> 
							</span>
						</div>
						<!-- Likes modal -->
						<div id="likes-modal" class="modal fade large" role="dialog">
							<div class="modal-dialog modal-sm">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										Likes {{ post.tlike_set.all.count }}
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>
									<div class="modal-body" style="padding: 0px;">
									<div class="likes">
										<ul>
										{% for user in users_liked %}
											<li>
												<img src="/media/{{ user.tuserprofile.avatar }}" class="likes-img-icon-bubble" />
												<span><strong>{{ user.username }}</strong></span>
												<hr width=50%>
											</li>										
										{% endfor %}
										</ul>
									</div>
									</div>
								</div>
							</div>
						</div>
						<div id="comments-count" class="pull-left text-left" style="padding-left: 20px;">
							<span class="panel-lc">
								<a style="text-decoration: none;">Comments {{ all_comments.count }}</a>
							</span>
						</div>
					</div>
					<hr class="hr-lsc">
					<div class="row">
						<div class="col-xs-4 text-center panel-lsc-border-right">
							{% if user.is_authenticated %}
								<button type="button" {% if post_liked %} disabled class="btn-disabled" {% endif %} onclick="like_post({{ post.id }});" id="likes-btn-{{ post.id }}" style="background: none; border: none; outline:none;">
									<span class="glyphicon glyphicon-heart glyphicon-heart-red" aria-hidden="true"></span>
									<span class="hidden-xs"> Like</span>
								</button>
							{% else %}
								<button type="button" data-toggle="modal" data-target="#Login-btn" style="background: none; border: none; outline:none;">
									<span class="glyphicon glyphicon-heart glyphicon-heart-red" aria-hidden="true"></span>
									<span class="hidden-xs"> Like</span>
							{% endif %}
						</div>
						<script src="/static/js/blog.js"></script>
						<div class="col-xs-4 text-center panel-lsc-border-right">
							<div class="dropup">
								<button type="button" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="background: none; border: none; outline:none;">
									<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
									<span class="hidden-xs"> Share</span>
								</button>
								<ul class="dropdown-menu dropdown-menu-center dropdown-menu-buttons" aria-labelledby="dropdownMenu1"">
									<li>
										<ul class="list-unstyled col-xs-4 bounce share-item-1">
											<li><a class="" href="#"><img class="img-icon-bubble share-item" src="/static/images/fb.png"></a></li>
										</ul>
										<ul class="list-unstyled col-xs-4 bounce share-item-2">
											<li><a class="" href="#"><img class="img-icon-bubble share-item" src="/static/images/twitter.png"></a></li>
										</ul>
										<ul class="list-unstyled col-xs-4 bounce share-item-3">
											<li><a class="" href="#"><img class="img-icon-bubble share-item" src="/static/images/linkedin.ico"></a></li>
										</ul>										
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-4 text-center">
							<button onclick="document.getElementById('comment-text').focus();" type="button" style="background: none; border: none; outline:none;">
								<span class="glyphicon glyphicon-comment glyphicon-comment-green" aria-hidden="true"></span>
								<span class="hidden-xs"> Comment</span>
							</button>								
						</div>
					</div>
					<hr class="hr-lsc">
				</div>							
		
				<div style="text-align: right;">
					<div class="actionBox" style="padding-top: 10px;">
						<ul class="commentList" id=comments-list>
						{% for comment in all_comments %}
							<li>
								<div class="commenterImage">
									<img src="/media/{{ comment.user.tuserprofile.avatar }}" />
								</div>
								<div class="commentText">
									<p class="">{{ comment.text }}</p> 
								</div>
								<span class="date sub-text">on {{ comment.date }}</span>
								<div id="results"></div> <!-- errors go here -->
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>

				<div class="container-fluid" style="position:relative; padding-top: 30px;">
					<form action="add_comment/" id="comment-form" method="POST">
						{% csrf_token %}
						<div class="row">
							<input type="hidden" id="post-id" value="{{ post.id }}">
							<div class="col-xs-12 col-sm-12 col-md-12 form-group">
								<textarea type="text" class="form-control" id="comment-text" name="Comment" rows="3" placeholder="Add a comment..."></textarea>
							</div>
							{% if not user.is_authenticated %}
							<div class="col-xs-12 col-sm-6 col-md-6 form-group">
								<input type="text" class="form-control" id="inputName" name="Name" placeholder="Last Name*">
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 form-group">
								<input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Email*">
							</div>
							{% endif %}
						</div>
						<button class="btn btn-default" type="submit" style="border: 1px solid black; background:none; outline:none;">
							<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
							Submit
						</button>
					</form>
				</div>
				<script src="/static/js/post.js"></script>

			</div>
			<div class="hidden-xs col-sm-3 col-md-3"></div>
		</div>
	</div>
{% endblock %}