<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block title %}

		{% endblock %}

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Bootstrap CSS Fallback -->
		<!-- <link href="css/bootstrap.css" rel="stylesheet"> -->

		<link href="/static/css/register.css" rel="stylesheet">
		<link href="/static/css/general.css" rel="stylesheet">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script src="/static/js/custom.js"></script>

		<!-- Bootstrap JS Fallback --> 
		<!-- <script src="js/bootstrap.js"></script> -->
	</head>
	<body>
		<div class="container-fluid" style="padding-top: 30px;">
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-3">
					<a href='/home'><img class="img-banner" src="/static/images/stick2.png"></a>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 smooth">
					<hr class="hidden-xs hr-nav">
					<nav class="navbar navbar-default navbar-custom">
						<div class="container-fluid" style="font-family: 'Apple Chancery';">
							{% block header %}

							{% endblock %}
						</div>
					</nav>
					<hr class="hidden-xs hr-nav">
				</div>
				<div class="hidden-xs col-sm-3 col-md-3"></div>
			</div>
		</div>

		<div class="container-fluid" style="padding-top: 70px;">
			<div class="row">
				<div class="hidden-xs col-sm-3 col-md-3"></div>
				<div class="col-xs-12 col-sm-6 col-md-6 smooth font-family" style="padding-left: 60px; padding-right: 60px;">

					{% block content %}

					{% endblock %}

				</div>
				<div class="hidden-xs col-sm-3 col-md-3"></div>
			</div>
		</div>

	</body>
</html>